.edit-listing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.edit-listing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-listing-container {
    width: 600px;
}

.edit-listing-container h2 {
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.edit-listing-container h3 {
    margin: 6px 0;
}

.edit-listing-container p {
    font-size: 0.75rem;
    line-height: 1.5;
    color: rgb(116, 116, 116);
    margin: 0 0 12px 0 ;
}

.edit-listing-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.edit-listing-container input[type="file"] {
    display: none;
}


.listing-photos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listing-blank-image {
    height: 138px;
    width: 138px;
    border: 2px dashed rgb(215, 215, 215);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    resize: none;
}

.edit-listing-container section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.edit-listing-container section input, select {
    height: 42px;
    border: 1px solid rgb(116, 116, 116);
}

.edit-listing-container section p {
    margin: 10px 0 0 0;
}

.edit-tags-container {
    height: 60px;
}

.listing-tag {
    height: 20px;
    width: fit-content;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 12px;
}

.tag-x {
    display: none;
}

.listing-tag:hover .tag-x {
    display: block;
}

/* Dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-dropdown-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid rgb(116, 116, 116);
    cursor: pointer;
    background-color: white;
}

.custom-dropdown-selected .color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.custom-dropdown-list {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(116, 116, 116);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
}

.custom-dropdown-option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.custom-dropdown-option:hover {
    background-color: rgb(238, 238, 238);
}

.custom-dropdown-option .color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.listing-submit-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0;
    padding: 12px 0;
    width: 100%;
}

.listing-uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-error {
    color: red;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 0.75rem;
    margin-top: 5px;
}

.required-field::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

