.desc ul div li {
    list-style: none;
}

.desc ul {
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.desc ul div li img {
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
}

.desc ul div li textarea {
    padding: 4px;
    width: 50vw;
    height: 15vh;
    border: 2px solid black;
}

.desc ul .details li {
    margin: 10px 0;
}

.desc ul .details li button {
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px 14px;
    transition: 0.5s ease-in-out;
}

.desc ul .details li button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.listing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.listing h4 {
    font-size: clamp(1rem, 0.8019rem + 0.8451vw, 1.5625rem);
}

.listing ul {
    gap: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.listing ul li {
    list-style: none;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.listing ul li img {
    width: 170px;
    transition: 0.5s ease-in-out;
}

.listing ul li img:hover {
    scale: 1.05;
    cursor: pointer;
}