.Container {
  display: flex;
  height: 76vh;
}

.Container .sect2 {
  width: 70%;
  background-color: white;
  padding: 20px;
}

.Container .sect2 div {
  background-color: #f5f5f5;
  margin: 10px;
  padding: 5px;
}

.Container .sect2 div .balance {
  background-color: white;
  margin: 10px;
  padding: 20px;
}

.Container .sect2 div .payment {
  background-color: white;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.Container .sect2 div .payment a {
  color: #da2121;
  text-decoration: none;
}

.Container .sect2 div .payment a:hover {
  color: #e53533;
  text-decoration: none;
}

@media (max-width: 460px) {
  .Container {
    flex-direction: column;
  }
  .Container .sect2 {
    width: 100%;
  }
}

@media (min-width: 460px) and (max-width: 980px) {
  .Container .sect2 {
    width: 58%;
  }
}




.profile-bar {
    display: flex;
    align-items: center;
}

.profile-bar img {
    margin-right: 10px;
}

.rating {
    display: flex;
    align-items: center;
}

.name{
    margin-right: 5px;
    margin-left: 30px;
}

.rating-number{
    margin-left: 5px;
    margin-right: 30px;
}

.rating > img{
    /* Add styling for rating SVGs */
    margin: 0 2px; /* Adjust spacing between rating SVGs */
}

.description {
    flex-grow: 1
}

.description textarea {
    width: 100%;
    box-sizing: border-box;
    border:1px solid #e4e4e4;
}

.details{
    margin-left: 200px;
}
.tag-options {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .tag-option {
    margin: 0 3px;
    font-size: 20px;
    cursor: pointer;
    border-radius:35%;
    padding:10px;
    border: 1px solid grey;
  }

  .social-profile{
    display:flex;
    align-items:center;
  }

  .social{
    border:none;
    background-color:transparent;
  }

  .selected{
    background-color:  #e53533; 
  }

  .save{
    padding: 10px 20px;
    background-color: #da2121;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.save:hover {
    background-color: #e53533; 
}

  textarea{
    flex:1
  }