.Container {
  display: flex;
  height: 76vh;
}

.Container .sect2 {
  width: 70%;
  background-color: white;
  padding: 20px;
}

.Container .sect2 div {
  background-color: #f5f5f5;
  margin: 10px;
  padding: 5px;
}

.Container .sect2 div .balance {
  background-color: white;
  margin: 10px;
  padding: 20px;
}

.Container .sect2 div .payment {
  background-color: white;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.Container .sect2 div .payment a {
  color: #d03838;
  text-decoration: none;
}

.Container .sect2 div .payment a:hover {
  color: #d12727;
  text-decoration: none;
}

@media (max-width: 460px) {
  .Container {
    flex-direction: column;
  }
  .Container .sect2 {
    width: 100%;
  }
}

@media (min-width: 460px) and (max-width: 980px) {
  .Container .sect2 {
    width: 58%;
  }
}
