.page-header {
  width: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding: 10px 0px;
  flex-wrap: wrap;
  gap: 10px;
}

.page-header img {
  width: 50px;
}

.input-box {
  height: 50px;
  max-width: 700px;
  margin: 0 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.input-box div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-icon {
  display: flex;
}

.input-box .search-icon {
  font-size: 24px;
  color: #707070;
}

.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 20px;
  background-color: transparent;
}

.input-box button {
  font-size: 16px;
  color: black;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  height: 30px;
  width: 100px;
}

.page-header .func {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.page-header .func li {
  list-style: none;
  margin: 0px 10px;
}

.page-header .func li a {
  font-size: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
  color: black;
  text-decoration: none;
}
