.sect1 {
  width: 30%;
  height: 80vh;
  background-color: #f5f5f5;
}

.sect1 h3,
h4,
span {
  margin: 0;
  padding: 0;
}

.Container .sect1 .inner-sec1,
.main-sec1 {
  margin: 0 10px;
  padding: 5px;
}

.Container .sect1 .main-sec1 {
  margin: 0 20px;
  padding: 5px;
}

.Container .sect1 .inner-sec1:hover {
  background-color: #e35353;
}

@media (max-width: 460px) {
  .sect1 {
    width: 100%;
  }
}

@media (min-width: 460px) and (max-width: 980px) {
  .sect1 {
    width: 42%;
  }
}
